@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Lilita+One&family=Merriweather&family=Montserrat:wght@100;200&family=Pacifico&family=Playfair+Display:wght@500&family=Tilt+Prism&family=Ysabeau+Infant&display=swap');

body{
  font-family: 'Montserrat', sans-serif;
}

.App {
  text-align: center;
}

.navbar {
  display: flex;
  justify-content: space-evenly;
  font-size: 2vw;
  background-color: #F39F5A;
  font-weight: bold;
  padding: 2vw;
  position: sticky;
  top: 0px;
}

a{
  text-decoration: none;
}

.navbar a {
  text-decoration: none;
  color: whitesmoke;
  padding: 1vw;
  transition: all 0.2s linear;
}

a:focus {
  border-bottom: 2px solid #662949;
  color: #662949;
}

body {
  height: 100vh;
}

.StudentDetail {
  font-size: 4vw;
  color: rgb(25, 25, 25);
}

.addStudent {
  float: right;
  background-color: #F39F5A;
  font-weight: bolder;
  padding: 1vw;
  font-size: 1.5vw;
  border: 1px solid pink;
  width: 4vw;
  border-radius: 50%;
  transition: all 0.1s linear;
}

.addStudent{
  color: white;
}

.addStudent:hover{
  background-color: #AE445A;
  border-color: transparent;
  scale:1.1;
}

tr,
th,
td {
  border-bottom: 1px solid rgb(74, 74, 74);
  text-align: center;
  padding: 1vw 0vw;
}

table {
  width: 90%;
  border: 1px solid gray;
  backdrop-filter: blur(10px);
  background-color: transparent;
  margin: 4vw auto;
  border-collapse: collapse;
}

.formContainer {
  width: 30vw;
  border: 1px solid gray;
  margin: 10vh auto;
  padding: 2vw;
  border-radius: 10px;
}

.formContainer input {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid gray;
  margin: 10px auto;
  width:98%;
}

.formContainer label ,.formContainer input{
  font-size: 1.3vw;
}

input{
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

input:active{
  border-color: transparent;
  border-bottom: 1px solid gray;
}

label{
  font-family: 'Pacifico', cursive;
}

.buttonDiv{
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.cancelBtn , .addBtn{
  border: 1px solid transparent;
  background-color: #662949;
  color: white;
  border-radius: 5px;
  width: 45%;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 10px;
  font-size: 1vw;
  transition: all 0.1s linear;
}

.cancelBtn:hover , .addBtn:hover{
  background-color: transparent;
  color: #662949;
  border-color: #662949;
}

.studentMainContainer {
  padding: 2vw;
}

.homeContainer{
  padding: 2vw;
}

.contactContainer{
  padding: 2vw;
}

.addStudentText {
  color: rgba(0, 0, 0, 0.488);
  font-size: 2.5vw;
  text-align: center;
  background-color: #662949;
  padding: 4px 10px;
  color: white;
  border-radius: 5px;
  letter-spacing: 2px;
  font-family: 'Tilt Prism', cursive;
}
